<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="SimpleTest" lan="LAN_PLUGIN_SIMPLETEST_NAME" version="1.0" date="2016-12-12" compatibility="2.0" installRequired="true">
    <author name="Lóna Lore" url="https://github.com/lonalore/simpletest"/>
    <summary lan="LAN_PLUGIN_SIMPLETEST_SUMM">Provides a framework for unit and functional testing.</summary>
    <description lan="LAN_PLUGIN_SIMPLETEST_DESC">Provides a framework for unit and functional testing.</description>
    <keywords>
        <word>testing</word>
        <word>framework</word>
    </keywords>
    <category>tools</category>
    <copyright>GNU General Public License</copyright>
    <adminLinks>
        <link url='admin_config.php' description='LAN_CONFIGURE' icon='assets/images/simpletest_32.png' iconSmall='assets/images/simpletest_16.png' icon128='assets/images/simpletest_128.png' primary='true'>LAN_CONFIGURE</link>
    </adminLinks>
    <pluginPrefs>
        <pref name='clear_results'>1</pref>
        <pref name='remove_tables'>1</pref>
        <pref name='verbose'>1</pref>
        <pref name='httpauth_method'>1</pref>
        <pref name='httpauth_username'></pref>
        <pref name='httpauth_password'></pref>
        <pref name='remote_url'></pref>
    </pluginPrefs>
    <dependencies>
        <plugin name='batch' min_version='1.0'/>
        <PHP name='core' min_version='5.3.0'/>
        <extension name='curl'/>
        <extension name='xml'/>
    </dependencies>
</e107Plugin>
