.toggle-all-label {
    margin: 0 0 0 15px;
    padding: 0 0 10px 0 !important;
    cursor: pointer;
    font-weight: bold;
}

.toggle-all-label input[type="checkbox"],
.simpletest-widget-panel input[type="checkbox"] {
    margin-left: 5px;
    margin-right: 5px;
}

div.message > div.item-list {
    font-weight: normal;
}

.simpletest-pass {
    color: #33a333;
}

.simpletest-fail {
    color: #981010;
}
